<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="New Suite" parallel="tests" thread-count="2">
<!--   <test name="Chrome Test" thread-count="5" parallel="methods">
  
  
  	<parameter name="browser" value="chrome"/>
  	<groups>
    <run>
    
      <include name="Sanity"  />
       <exclude name="Regression"  />
    </run>
  </groups>
  	
  	
    <classes>
      <class name="Drivers.Test1"/>
      <class name="Drivers.Test2"/>
    </classes>
  </test> Test
  
  <test name="Chrome Test" thread-count="5" parallel="methods"> -->
  
  
 <!--  	<parameter name="browser" value="chrome"/> -->
 
 <test name="Chrome Test" thread-count="5" parallel="methods">
  	
    <classes>
      <class name="Drivers.Test2"/>
    </classes>
  </test> <!-- Test -->
  
  
  
  <!--  <test name="Firefox Test" thread-count="2" parallel="methods">
  	<parameter name="browser" value="firefox"/>
    <classes>
      <class name="Drivers.Test1"/>
      <class name="Drivers.Test2"/>
    </classes>
  </test> Test -->
  
  
  
</suite> <!-- Suite -->
